body {
  font-size: 16px;
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
    'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  display: flex;
  justify-content: center;
}
.phonebook-container {
  width: 40em;
  max-width: 40em;
}
.notification {
  width: inherit;
  margin-top: 2rem;
  padding: 1.5rem 2rem;
  border-radius: 1rem;
}
.success {
  background: #adffb7;
  color: #013d1f;
  font-weight: 600;
}
.error {
  background: #ffb5c4;
  color: #3d0101;
  font-weight: 600;
}
